.form__container{
    min-height: calc(100vh - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    padding: 2rem;
    margin-top: 4rem;
    border: 1px solid rgba(0, 0, 0, 0.095);
    box-shadow: 0px 1px 1px 0px rgba(138, 138, 138, 0.823);
    border-radius: 1.5rem;
    min-width: 30%;
    min-height: 18rem;
    display: flex;
    flex-direction: column;
}

.form__heading{
    font-size: 1.8rem;
    margin: .2rem 0;
    margin-bottom: 1rem;
    color: rgb(30, 30, 30);
}

.form__btn{
    margin-top: 1rem;
    align-self: flex-end;
    padding:.5rem 1rem;
    border-radius: .8rem;
    border: 1px solid rgba(0, 0, 0, 0.095);
    background-color:  rgb(33, 21, 84);
    color: #fff;
    cursor: pointer;
}

.form__btn:hover{
    background-color:  rgb(50, 33, 128);
}

.form__btn:disabled{
    background: #ccc;
    color: rgb(127, 127, 127);
    border: 1px solid rgb(127, 127, 127);
}
