.carousal__container{
  width: 90%;
  margin: 0 auto;
  padding: .5rem 0;
}

.carousal__list,
.trailer__carousal__list{
  height: 24rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-auto-flow: column;
  overflow-x:scroll;
  overflow-y: hidden;
  text-decoration: none;
}

.trailer__carousal__list{
  grid-template-columns: repeat(20,20rem);
  grid-template-rows: 12rem;
  height: 20rem;
  text-align: center;
}
 
.carousal__list::-webkit-scrollbar,
.trailer__carousal__list::-webkit-scrollbar{
  height: .7vw;
}
   
.carousal__list::-webkit-scrollbar-track,
.trailer__carousal__list::-webkit-scrollbar-track{
  background: rgb(255, 255, 255);
  border-radius: 100vw;
}
   
.carousal__list::-webkit-scrollbar-thumb,
.trailer__carousal__list::-webkit-scrollbar-thumb{
  background: rgb(221, 218, 218);
  border-radius: 100vw;
}

