a{
    text-decoration: none;
    color: inherit;
}
 
.movie-item{
    position: relative;
    width:9.5rem;
    height:15rem;
    animation: fade-in .7s ease-in ;
}
  
.trailer__movie-item{
    width:20rem;
    height:12rem;
    animation: fade-in .7s ease-in ;
}
  
@keyframes fade-in{
    from{
      opacity: 0;
    }
  
    to{
      opacity: 1;
    }
}
  
.movie-item--icon__container,
.movie-item--checkbox,
.movie-item__dropdown{
    position: absolute;
    right: .4rem;
    top: .5rem;
}
  
.movie-item--checkbox{
    z-index: 200;
    cursor: pointer;
    opacity: 0;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
}
  
.movie-item__dropdown{
    top: 2.2rem;
    display: none;
}
  
.movie-item--icon__container{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.51);
    padding: .2rem;
    cursor: pointer;
}
  
.btnControl {
    display: none;
}
  
/*.carousal__item__dropdown {
    display: none;
}*/
  
.movie-item__dropdown{
    border: 1px solid rgb(187, 187, 187);
    border-radius: .5rem;
    overflow: hidden;
}
  
.movie-item__dropdown ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.836);
    color: rgba(0, 0, 0, 0.83);
    font-weight: 500;
}
  
.movie-item__list{
    display: flex;
    padding: .3rem .6rem;
}
  
.movie-item__dropdown li{
    height: 2rem;
}
  
.movie-item__dropdown li:hover{
    background-color: rgba(248, 248, 248, 0.755);
}
  
.movie-item__btn{
    height: 100%;
    background-color: transparent;
    width: 100%;
    border: none;
    cursor: pointer;
}

  
.movie-item--checkbox:checked ~ .movie-item__dropdown {
   display: block;
}

.movie-item--container{
    height: 100%;
    width: 100%;
}

.movie-item--img{
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    width: 100%;
    height: 100%;
    display: block;
    object-fit:cover;
    border-radius: 1rem;
}
   
.movie-item--name{
    margin: 1rem .7rem; 
    margin-top: 2rem;
}

.movie-item--score{
    position: absolute;
    bottom: -5%;
    left: 4%;
}

.movie--item--score{
    height: 2rem;
    width: 2rem;
}