.movie-item--container{
    height: 100%;
    width: 100%;
}

.movie-item--img{
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    width: 100%;
    height: 100%;
    display: block;
    object-fit:cover;
    border-radius: 1rem;
}
   
.movie-item--name{
    margin: .2rem .7rem; 
    margin-top: 2rem;
}

.movie-item--sub-name{
    margin: 0;
    margin-top: .2rem;
    color: rgba(77, 77, 78, 0.66);
}


